Manager/Manager/Service References/LoggingService/LoggerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50816/LoggerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LogService" />
  <xs:element name="addLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LogService" minOccurs="0" name="logLevel" type="q1:LogLevel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>