Manager/Manager/Service References/StaticticsRepository/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50392/StatisticsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50392/StatisticsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50392/StatisticsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StatisticService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStatService_AddStatitics_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStatitics" />
  </wsdl:message>
  <wsdl:message name="IStatService_AddStatitics_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStatiticsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatService_FindImageStats_InputMessage">
    <wsdl:part name="parameters" element="tns:FindImageStats" />
  </wsdl:message>
  <wsdl:message name="IStatService_FindImageStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindImageStatsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatService_FindAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAll" />
  </wsdl:message>
  <wsdl:message name="IStatService_FindAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IStatService">
    <wsdl:operation name="AddStatitics">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatService/AddStatitics" message="tns:IStatService_AddStatitics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatService/AddStatiticsResponse" message="tns:IStatService_AddStatitics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindImageStats">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatService/FindImageStats" message="tns:IStatService_FindImageStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatService/FindImageStatsResponse" message="tns:IStatService_FindImageStats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatService/FindAll" message="tns:IStatService_FindAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatService/FindAllResponse" message="tns:IStatService_FindAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStatService" type="tns:IStatService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddStatitics">
      <soap:operation soapAction="http://tempuri.org/IStatService/AddStatitics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindImageStats">
      <soap:operation soapAction="http://tempuri.org/IStatService/FindImageStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAll">
      <soap:operation soapAction="http://tempuri.org/IStatService/FindAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IStatService" binding="tns:BasicHttpBinding_IStatService">
      <soap:address location="http://localhost:50392/StatisticsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>