Manager/Manager/Service References/StaticticsRepository/StatisticsService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StatisticService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StatisticService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Statistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Statistic" nillable="true" type="tns:Statistic" />
  <xs:complexType name="ArrayOfStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Statistic" nillable="true" type="tns:Statistic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatistic" nillable="true" type="tns:ArrayOfStatistic" />
</xs:schema>