Manager/Manager/Service References/StaticticsRepository/StatisticsService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50392/StatisticsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StatisticService.Model" />
  <xs:element name="AddStatitics">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StatisticService.Model" minOccurs="0" name="statistic" nillable="true" type="q1:Statistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStatiticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStatiticsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllImageViewStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllImageViewStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StatisticService.Model" minOccurs="0" name="GetAllImageViewStatisticsResult" nillable="true" type="q2:ArrayOfStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllViewStatistics">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllViewStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StatisticService.Model" minOccurs="0" name="GetAllViewStatisticsResult" nillable="true" type="q3:ArrayOfStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>