Manager/Manager/Service References/GraphicRepository/GraphicRepository.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GraphicRepository" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52267/GraphicRepository.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52267/GraphicRepository.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52267/GraphicRepository.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImageService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGraphicRepository_AddImage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddImage" />
  </wsdl:message>
  <wsdl:message name="IGraphicRepository_AddImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddImageResponse" />
  </wsdl:message>
  <wsdl:message name="IGraphicRepository_GetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="IGraphicRepository_GetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="IGraphicRepository_GetNewestImages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewestImages" />
  </wsdl:message>
  <wsdl:message name="IGraphicRepository_GetNewestImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewestImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IGraphicRepository_GetUserImages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserImages" />
  </wsdl:message>
  <wsdl:message name="IGraphicRepository_GetUserImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserImagesResponse" />
  </wsdl:message>
  <wsdl:portType name="IGraphicRepository">
    <wsdl:operation name="AddImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraphicRepository/AddImage" message="tns:IGraphicRepository_AddImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraphicRepository/AddImageResponse" message="tns:IGraphicRepository_AddImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraphicRepository/GetImage" message="tns:IGraphicRepository_GetImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraphicRepository/GetImageResponse" message="tns:IGraphicRepository_GetImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewestImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraphicRepository/GetNewestImages" message="tns:IGraphicRepository_GetNewestImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraphicRepository/GetNewestImagesResponse" message="tns:IGraphicRepository_GetNewestImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraphicRepository/GetUserImages" message="tns:IGraphicRepository_GetUserImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraphicRepository/GetUserImagesResponse" message="tns:IGraphicRepository_GetUserImages_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGraphicRepository" type="tns:IGraphicRepository">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddImage">
      <soap:operation soapAction="http://tempuri.org/IGraphicRepository/AddImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap:operation soapAction="http://tempuri.org/IGraphicRepository/GetImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewestImages">
      <soap:operation soapAction="http://tempuri.org/IGraphicRepository/GetNewestImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserImages">
      <soap:operation soapAction="http://tempuri.org/IGraphicRepository/GetUserImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GraphicRepository">
    <wsdl:port name="BasicHttpBinding_IGraphicRepository" binding="tns:BasicHttpBinding_IGraphicRepository">
      <soap:address location="http://localhost:52267/GraphicRepository.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>