Manager/Manager/Manager/Service References/GraphicRepository/GraphicRepository2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52267/GraphicRepository.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImageService.Models" />
  <xs:element name="AddImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ImageService.Models" minOccurs="0" name="graphic" nillable="true" type="q1:Graphic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddImageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ImageService.Models" minOccurs="0" name="GetImageResult" nillable="true" type="q2:Graphic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewestImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewestImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ImageService.Models" minOccurs="0" name="GetNewestImagesResult" nillable="true" type="q3:ArrayOfGraphic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ImageService.Models" minOccurs="0" name="GetUserImagesResult" nillable="true" type="q4:ArrayOfGraphic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>