Manager/Manager/Manager/Service References/GraphicRepository/GraphicRepository.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ImageService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ImageService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52267/GraphicRepository.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:complexType name="Graphic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="Image" nillable="true" type="q1:Image" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Graphic" nillable="true" type="tns:Graphic" />
  <xs:complexType name="ArrayOfGraphic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Graphic" nillable="true" type="tns:Graphic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGraphic" nillable="true" type="tns:ArrayOfGraphic" />
</xs:schema>